body {
	margin:0 0 100px 0;
	background-color: rgb(253, 255, 222);
}

h1 {
	text-align:center;
}

h4 {
  margin-top: 25px;
}

p {
	text-align:center;
}

.row {
  text-align:center;
  width:100%;
  margin: 0 auto;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
 
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #5ba63c;
}


.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #b7b7b7;
}

.col-md-4 {
  text-align: center;
  border: 2px solid #6b7ab7;
  border-radius: 15px;
  background-color: whitesmoke;
  min-height: 420px;
  margin: 6px;
  width: 32%;
}

iframe {
	min-height:340px;
	border:none;
	overflow:auto;
	margin-top:15px;
	margin-bottom:-15px;
}

