body {
	margin:0 ;
	background-color: rgb(253, 255, 222);
}

h1 {
	text-align:center;
}

h4 {
  margin-top: 25px;
}

p {
	text-align:center;
}

.row {
  margin-bottom: 0;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
 
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #5ba63c;
}


.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #b7b7b7;
}

.col-md-4 {
	text-align:center;
	border: 2px solid rgb(253, 255, 222);
	border-radius:15px;
	background-color: whitesmoke;
	min-height:380px;
}

iframe {
	min-height:330px;
	border:none;
	overflow:auto;
	margin-top:15px;
	margin-bottom:-15px;
}

