body {
	font-family: 'Source Sans Pro', sans-serif;
	margin:0 ;
}

.container {
	width:264px;
	height: auto;
	margin: auto;
}

.calc{
	color:#5c5c5c;
	background-color:#d7d7d7;
	padding: 0;
	border-radius:8px;
	margin: auto;
}
.calc p {
	font-size:13px;
	margin: 9px 12px;
	padding: 0 18px;
}

.calc h1 {
	color:black;
	font-size:15px;
	font-weight:800;
	background-color:#b7b7b7;
	padding: 9px 18px;
	margin: 0;
	text-align:center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.calc h2 {
	font-size:19px;
	color: #424242;
	padding:12px 0 2px 0;
	margin:0;
	font-weight:800;
	text-align:center;
}

.calc form {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.calc input {
	font-size:12px;
	width: 200px;
	height:18px;
	margin: 0 auto 14px auto;
	padding:6px;
	border:none;
	border-radius:4px;
}

/** jquery display results **/
.calc span {
	background-color:#b7b7b7;
	padding:2px 3px;
	border-radius:3px;
	margin:0 2px;
	letter-spacing:4px;
	weight:500;
}

.msg {
  padding:8px;
  margin:12px;
  border-radius:8px;
}